<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teacher page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/css/teacher.styles.css">

  {{!-- jquery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<script>

</script>
<body>
   
  <div class="container">
        <div class="card-body">
            <div>
                <input type="text" class="form-control" placeholder="Search for something" 
                id="search">
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" 
                id="dropdownSort" data-toggle="dropdown" 
                aria-haspopup="true" aria-expanded="false">SortBy</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Approved</a>
                <a class="dropdown-item" href="#">Pending</a>
                </div>

                <button class="btn btn-secondary">Delete</button>
                <button class="btn btn-success" id="allBtn" onclick ="window.location.href ='/requests/all'">All</button>
                <button class="btn btn-success" id ="approvedBtn" onclick ="window.location.href ='/requests/approved'">Approved</button>
                <button class="btn btn-success active" id ="pendingBtn" onclick ="window.location.href ='/requests/pending'">Pending</button>
                <button class="btn btn-success" id ="rejectedBtn" onclick ="window.location.href ='/requests/rejected'">Rejected</button>
        </div>

        <ul class="no-bullets">
          {{#each requests}}
            <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox">
                </div>
            </div>
            <li>{{this.groupname}}</li>
            <li>{{this.eventname}}</li>
            <li>{{this._id}}</li>
            <button class="btn btn-outline-secondary" type="button"id="open_approval" 
            onclick="window.location.href='/approval/{{this._id}}/{{this.status}}'">Open</button>
            </div>

          {{/each}}
        </ul>
  </div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>